:root {
  --dl-color-gray-500: #595959;
  --dl-color-gray-700: #999999;
  --dl-color-gray-900: #D9D9D9;
  --dl-size-size-large: 144px;
  --dl-size-size-small: 48px;
  --dl-color-danger-300: #A22020;
  --dl-color-danger-500: #BF2626;
  --dl-color-danger-700: #E14747;
  --dl-color-default-bg: rgba(255, 255, 255, 1);
  --dl-color-gray-black: #000000;
  --dl-color-gray-white: #FFFFFF;
  --dl-size-size-medium: 96px;
  --dl-size-size-xlarge: 192px;
  --dl-size-size-xsmall: 16px;
  --dl-space-space-unit: 16px;
  --dl-color-primary-100: #003EB3;
  --dl-color-primary-300: #0074F0;
  --dl-color-primary-500: #14A9FF;
  --dl-color-primary-700: #85DCFF;
  --dl-color-success-300: #199033;
  --dl-color-success-500: #32A94C;
  --dl-color-success-700: #4CC366;
  --dl-size-size-xxlarge: 288px;
  --dl-color-default-text: rgba(249, 249, 249, 1);
  --dl-size-size-maxwidth: 1400px;
  --dl-color-default-301px: rgba(0, 0, 0, 0.30000001192092896);
  --dl-color-default-text1: rgba(125, 129, 132, 1);
  --dl-color-default-text2: rgba(0, 0, 0, 1);
  --dl-radius-radius-round: 50%;
  --dl-color-default-button: rgba(0, 0, 0, 1);
  --dl-space-space-halfunit: 8px;
  --dl-space-space-sixunits: 96px;
  --dl-space-space-twounits: 32px;
  --dl-color-default-button1: rgba(0, 255, 102, 1);
  --dl-color-default-button2: rgba(219, 68, 68, 1);
  --dl-color-default-primary: rgba(255, 255, 255, 1);
  --dl-radius-radius-radius2: 2px;
  --dl-radius-radius-radius4: 4px;
  --dl-radius-radius-radius8: 8px;
  --dl-space-space-fiveunits: 80px;
  --dl-space-space-fourunits: 64px;
  --dl-color-default-primary1: rgba(54, 55, 56, 1);
  --dl-space-space-threeunits: 48px;
  --dl-color-default-secondary: rgba(245, 245, 245, 1);
  --dl-color-default-secondary1: rgba(254, 250, 241, 1);
  --dl-color-default-secondary2: rgba(219, 68, 68, 1);
  --dl-color-default-hoverbutton: rgba(160, 188, 224, 1);
  --dl-space-space-oneandhalfunits: 24px;
}
.button {
  color: var(--dl-color-gray-black);
  display: inline-block;
  padding: 0.5rem 1rem;
  border-color: var(--dl-color-gray-black);
  border-width: 1px;
  border-radius: 4px;
  background-color: var(--dl-color-gray-white);
}
.input {
  color: var(--dl-color-gray-black);
  cursor: auto;
  padding: 0.5rem 1rem;
  border-color: var(--dl-color-gray-black);
  border-width: 1px;
  border-radius: 4px;
  background-color: var(--dl-color-gray-white);
}
.textarea {
  color: var(--dl-color-gray-black);
  cursor: auto;
  padding: 0.5rem;
  border-color: var(--dl-color-gray-black);
  border-width: 1px;
  border-radius: 4px;
  background-color: var(--dl-color-gray-white);
}
.list {
  width: 100%;
  margin: 1em 0px 1em 0px;
  display: block;
  padding: 0px 0px 0px 1.5rem;
  list-style-type: none;
  list-style-position: outside;
}
.list-item {
  display: list-item;
}
.teleport-show {
  display: flex !important;
  transform: none !important;
}
.Content {
  font-size: 16px;
  font-family: Inter;
  font-weight: 400;
  line-height: 1.15;
  text-transform: none;
  text-decoration: none;
}
.Heading {
  font-size: 32px;
  font-family: Inter;
  font-weight: 700;
  line-height: 1.15;
  text-transform: none;
  text-decoration: none;
}
.Heading110PXBold {
  font-size: 110px;
  font-style: normal;
  font-family: Inter;
  font-weight: 700px;
  font-stretch: normal;
}
.Heading110PXSemiBold {
  font-size: 110px;
  font-style: normal;
  font-family: Inter;
  font-weight: 700px;
  font-stretch: normal;
}
.Heading110PXMedium {
  font-size: 110px;
  font-style: normal;
  font-family: Inter;
  font-weight: 500px;
  font-stretch: normal;
}
.Heading110PXRegular {
  font-size: 110px;
  font-style: normal;
  font-family: Inter;
  font-weight: 400px;
  font-stretch: normal;
}
.Heading90PXBold {
  font-size: 90px;
  font-style: normal;
  font-family: Inter;
  font-weight: 700px;
  font-stretch: normal;
}
.Heading90PXSemiBold {
  font-size: 90px;
  font-style: normal;
  font-family: Inter;
  font-weight: 700px;
  font-stretch: normal;
}
.Heading90PXMedium {
  font-size: 90px;
  font-style: normal;
  font-family: Inter;
  font-weight: 500px;
  font-stretch: normal;
}
.Heading90PXRegular {
  font-size: 90px;
  font-style: normal;
  font-family: Inter;
  font-weight: 400px;
  font-stretch: normal;
}
.Heading64PXBold {
  font-size: 64px;
  font-style: normal;
  font-family: Inter;
  font-weight: 700px;
  font-stretch: normal;
}
.Heading64PXSemiBold {
  font-size: 64px;
  font-style: normal;
  font-family: Inter;
  font-weight: 700px;
  font-stretch: normal;
}
.Heading64PXMedium {
  font-size: 64px;
  font-style: normal;
  font-family: Inter;
  font-weight: 500px;
  font-stretch: normal;
}
.Heading64PXRegular {
  font-size: 64px;
  font-style: normal;
  font-family: Inter;
  font-weight: 400px;
  font-stretch: normal;
}
.Heading54PXBold {
  font-size: 54px;
  font-style: normal;
  font-family: Inter;
  font-weight: 700px;
  font-stretch: normal;
}
.Heading54PXSemiBold {
  font-size: 54px;
  font-style: normal;
  font-family: Inter;
  font-weight: 700px;
  font-stretch: normal;
}
.Heading54PXMedium {
  font-size: 54px;
  font-style: normal;
  font-family: Inter;
  font-weight: 500px;
  font-stretch: normal;
}
.Heading54PXRegular {
  font-size: 54px;
  font-style: normal;
  font-family: Inter;
  font-weight: 400px;
  font-stretch: normal;
}
.Heading48PXBold {
  font-size: 48px;
  font-style: normal;
  font-family: Inter;
  font-weight: 700px;
  font-stretch: normal;
}
.Heading48PXSemiBold {
  font-size: 48px;
  font-style: normal;
  font-family: Inter;
  font-weight: 700px;
  font-stretch: normal;
}
.Heading48PXMedium {
  font-size: 48px;
  font-style: normal;
  font-family: Inter;
  font-weight: 500px;
  font-stretch: normal;
}
.Heading48PXRegular {
  font-size: 48px;
  font-style: normal;
  font-family: Inter;
  font-weight: 400px;
  font-stretch: normal;
}
.Heading36PXBold {
  font-size: 36px;
  font-style: normal;
  font-family: Inter;
  font-weight: 700px;
  font-stretch: normal;
}
.Heading36PXSemiBold {
  font-size: 36px;
  font-style: normal;
  font-family: Inter;
  font-weight: 700px;
  font-stretch: normal;
}
.Heading36PXMedium {
  font-size: 36px;
  font-style: normal;
  font-family: Inter;
  font-weight: 500px;
  font-stretch: normal;
}
.Heading36PXRegular {
  font-size: 36px;
  font-style: normal;
  font-family: Inter;
  font-weight: 400px;
  font-stretch: normal;
}
.Heading24PXBold {
  font-size: 24px;
  font-style: normal;
  font-family: Inter;
  font-weight: 700px;
  font-stretch: normal;
}
.Heading24PXSemiBold {
  font-size: 24px;
  font-style: normal;
  font-family: Inter;
  font-weight: 700px;
  font-stretch: normal;
}
.Heading24PXMedium {
  font-size: 24px;
  font-style: normal;
  font-family: Inter;
  font-weight: 500px;
  font-stretch: normal;
}
.Heading24PXRegular {
  font-size: 24px;
  font-style: normal;
  font-family: Inter;
  font-weight: 400px;
  font-stretch: normal;
}
.Heading20PXBold {
  font-size: 20px;
  font-style: normal;
  font-family: Inter;
  font-weight: 700px;
  font-stretch: normal;
}
.Heading20PXSemiBold {
  font-size: 20px;
  font-style: normal;
  font-family: Inter;
  font-weight: 700px;
  font-stretch: normal;
}
.Heading20PXMedium {
  font-size: 20px;
  font-style: normal;
  font-family: Inter;
  font-weight: 500px;
  font-stretch: normal;
}
.Heading20PXRegular {
  font-size: 20px;
  font-style: normal;
  font-family: Inter;
  font-weight: 400px;
  font-stretch: normal;
}
.Heading32PXBold {
  font-size: 32px;
  font-style: normal;
  font-family: Inter;
  font-weight: 700px;
  font-stretch: normal;
}
.Heading32PXSemiBold {
  font-size: 32px;
  font-style: normal;
  font-family: Inter;
  font-weight: 700px;
  font-stretch: normal;
}
.Heading32PXMedium {
  font-size: 32px;
  font-style: normal;
  font-family: Inter;
  font-weight: 500px;
  font-stretch: normal;
}
.Heading32PXRegular {
  font-size: 32px;
  font-style: normal;
  font-family: Inter;
  font-weight: 400px;
  font-stretch: normal;
}
.Title24PXSemibold {
  font-size: 24px;
  font-style: normal;
  font-family: Poppins;
  font-weight: 600px;
  font-stretch: normal;
}
.Title24PXMedium {
  font-size: 24px;
  font-style: normal;
  font-family: Poppins;
  font-weight: 500px;
  font-stretch: normal;
}
.Title24PXRegular {
  font-size: 24px;
  font-style: normal;
  font-family: Poppins;
  font-weight: 400px;
  font-stretch: normal;
}
.Title20PXSemibold {
  font-size: 20px;
  font-style: normal;
  font-family: Poppins;
  font-weight: 600px;
  font-stretch: normal;
}
.Title20PXMedium {
  font-size: 20px;
  font-style: normal;
  font-family: Poppins;
  font-weight: 500px;
  font-stretch: normal;
}
.Title20PXRegular {
  font-size: 20px;
  font-style: normal;
  font-family: Poppins;
  font-weight: 400px;
  font-stretch: normal;
}
.Title16PXSemibold {
  font-size: 16px;
  font-style: normal;
  font-family: Poppins;
  font-weight: 600px;
  font-stretch: normal;
}
.Title16PXMedium {
  font-size: 16px;
  font-style: normal;
  font-family: Poppins;
  font-weight: 500px;
  font-stretch: normal;
}
.Title16PXRegular {
  font-size: 16px;
  font-style: normal;
  font-family: Poppins;
  font-weight: 400px;
  font-stretch: normal;
}
.Title14PXSemibold {
  font-size: 14px;
  font-style: normal;
  font-family: Poppins;
  font-weight: 600px;
  font-stretch: normal;
}
.Title14PXMedium {
  font-size: 14px;
  font-style: normal;
  font-family: Poppins;
  font-weight: 500px;
  font-stretch: normal;
}
.Title14PXRegular {
  font-size: 14px;
  font-style: normal;
  font-family: Poppins;
  font-weight: 400px;
  font-stretch: normal;
}
.Title12PXSemibold {
  font-size: 12px;
  font-style: normal;
  font-family: Poppins;
  font-weight: 600px;
  font-stretch: normal;
}
.Title12PXMedium {
  font-size: 12px;
  font-style: normal;
  font-family: Poppins;
  font-weight: 500px;
  font-stretch: normal;
}
.Title12PXRegular {
  font-size: 12px;
  font-style: normal;
  font-family: Poppins;
  font-weight: 400px;
  font-stretch: normal;
}
